<%- include('header.ejs') %>

<div class="container justify-content-center">

            <div class="row mb-3">
                
                <%- include('filter.ejs') %>
                
                <%- include('drinkCard.ejs') %>
                
            </div>
    
</div>
        
<%- include('footer.ejs') %>